/* Resets */

* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}


body {

  font-family: "Noto Sans", serif;

}


img {

  width: 50%;

}


ul li {

  list-style: none;

}


li a {

  text-decoration: none;

}


/* Congratulations ! */

.section_one_complete {

  padding: 1rem;

  border-radius: 10px;

  margin: 1rem;

  display: inline;

  background-color: #46beff;

  color: white;

}


/* NavBar */

.awesome_nav {

  background-color: rgb(70, 190, 260);

  display: flex;

  align-items: center;

  justify-content: center;

}


.awesome-logo {

  font-size: 3rem;

}


.awesome_nav ul {

  display: flex;

  align-items: center;

  gap: 1rem;

}


/* Main Content */

.hero {

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 1rem;

}


.hero-img {

  display: flex;

  justify-content: center;

  align-items: center;

  height: 200px;

  width: 50%;

  background-image: url('../src/assets/images/blue.PNG');

}


.fun_facts li {

  margin: 1.5rem;

}